@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mikhak;
  src: url("/font/Mikhak.ttf");
}

html,
body {
  direction: rtl;
}

@layer base {
  * {
    @apply font-primary;
  }
  body {
    @apply bg-black;
  }

  .h1 {
    @apply text-[38px] tracking-[10%];
  }
  .h2 {
    @apply text-[32px] tracking-[10%];
  }
  .h3 {
    @apply text-[26px] leading-[46px];
  }

  .btnSpan{
    @apply p-2 bg-gray-700 rounded-md text-primary hover:text-yellow-400 cursor-pointer
  }

  .listLi{
    @apply flex gap-2 py-2 cursor-pointer text-white hover:text-yellow-400
  }

  .dotesSlider{
    @apply w-2 h-2 mt-2 rounded-full bg-white
  }

  .sliderBtn{
    @apply w-8 h-8 sm:w-11 sm:h-11 flex items-center justify-center text-primary hover:text-yellow-400 bg-dark opacity-70 hover:opacity-100 rounded-xl cursor-pointer z-10
  }

  .imgSlider{
    @apply w-full rounded-2xl
  }

}
